/* ! Proj */

.proj{
  display:flex;
  flex-direction: row;
  padding: 0px 0px 30px ;
  color: #000;
}

@media screen and (min-width: 1024px) {

  .card{
    height: 300px;
    width: 55%;
    top: -65px;
    left: -55px;
    /* box-shadow: 5px 5px 20px ; */
    overflow: hidden;
    background: transparent;
    border-radius: 15px;
  }

  .img{
    height: 300px;
    width:100%;
    object-fit: fill;
  }
}






.card{
  height: 300px;
  width: 250px;
  top: -65px;
  left: -55px;
  /* box-shadow: 5px 5px 20px ; */
  overflow: hidden;
  background: transparent;
  border-radius: 15px;
}
.img{
  height: 300px;
  width:100%;
  object-fit: cover;
}
.intro{
  height: 300px;
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  position:relative;
  bottom: 40px;
  left: 0px;
  background-color: rgb(27, 27, 27 , .5);
  color: white;
  transition: .5s;
  background-color: transparent;
text-align: start; }

.h1{
    font-family: 'Raleway',sans-serif;
    margin: 7px;
    font-size: 10px;
    opacity: 1;
    text-align: start;
  }
.p{
    font-size: 6px;
    margin-top: 1px;
    visibility: hidden;
    opacity: 0;
    background: transparent;
  } 
.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 350px;
  bottom: 180px;
  background: black;
  opacity: .7;
  animation: fadeIn .2s ;
}

.card:hover p{
  opacity: 1;
  visibility: visible;
  animation: fadeIn 3s; 
  color: white;
  line-height: 1.4;
}


